<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset=”utf-8″>
    <title>Piraquara</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta name="handheldfriendly" content="true">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <meta name="description" content="Consumidor transparencia Piraquara-PR">
    <meta name="robots" content="noindex, nofollow">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
      <%= yield %>
  </body>
</html>
